<div class="container-fluid design-examples">
  <div class="designed-to-impress">Designed To Impress</div>
  <div class="design-tagline">Dedicated online photo gallery for each of your clients, with beautiful cover and layout right out of the box.</div>

  <div class="desktop-options group">
    <div class="selected beautiful-design">Beautiful Design</div>
    <div class="gallery-design">The Gallery</div>
    <div class="space-design">Your Space</div>
  </div>

  <div class="desktop">
    <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/desktop-image.png" class="computer">
    <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/desktop-beautiful.png" class="desktop-screen beautiful">
    <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/desktop-gallery.png" class="desktop-screen gallery">
    <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/desktop-your.png" class="desktop-screen your">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).resize(function () {
      var windowHeight = $(window).height();
      $('.design-examples, .example-albums').height(windowHeight);

      $('.example-albums').css('top', $('.design-examples').offset().bottom);

      $('.example-albums .header').height(windowHeight-350);
      if ($(window).width() < 825) {
        $('.screenshot').width('400px');
        $('.user-item').addClass('collapse');
        $('.example-albums').height(windowHeight + 400);
      } else if ($(window).width() < 1043) {
        $('.user-item').removeClass('collapse');
        $('.screenshot').width('100%');
      } else {
        $('.screenshot').width('300px');
      }
    });
    $(window).resize();

    $('.beautiful').hide();

    $('.beautiful-design').on('click', function () {
      $('.beautiful, .gallery, .your').hide();
      $('.beautiful').fadeIn();
      $('.desktop-options > div').removeClass('selected');
      $('.beautiful-design').addClass('selected');
    })

    $('.gallery-design').on('click', function () {
      $('.beautiful, .gallery, .your').hide();
      $('.gallery').fadeIn();
      $('.desktop-options > div').removeClass('selected');
      $('.gallery-design').addClass('selected');
    });

    $('.space-design').on('click', function () {
      $('.beautiful, .gallery, .your').hide();
      $('.your').fadeIn();
      $('.desktop-options > div').removeClass('selected');
      $('.space-design').addClass('selected');
    });

  });
</script>
