<div class="container-fluid example-albums">

  <div class="header">
    <div class="content">
      <div class="see-in-action">See It In Action</div>
      <div class="see-in-action-tagline">Twinkieset is trusted by some of the most inspiring professional photographers.</div>
      <button class="get-started">Get Started</button>
    </div>
  </div>
  <% @users.each do |user| %>
    <%= render 'example_album', user: user %>
  <% end %>
</div>
