<div class="user-item">
    <a href="/#<%= user.id %>">
    <img src="<%= user.screenshot %>" width="300px" class="screenshot">
    <div class="user-name"><%= user.business_name %></div>
  </a>
</div>
