<img src="https://dl.dropboxusercontent.com/u/2330299/capstone/top_left_logo.png" width="60px">

<a href="#" class="albums-title"><i class="fa fa-th-large fa-lg"></i> &nbsp;Collections</a>


<div class="logout"><i class="fa fa-power-off fa-fw"></i></div>
<form action="/session" method="post" class="logout-form">
  <input type="hidden" name="_method" value="delete">
  <input value="Logout" type="submit"/>
</form>
