<div class="hero">
  <div class="album-title"><%= album.get('title') %></div>
  <div class="album-event-date"><%= album.get('string_date') %></div>
</div>

<div class="container subalbum-photos">

  <div class="list-of-subalbums"></div>

  <div class="public-photos-index"></div>
</div>
