<div class="hero">

  <%= album.get('title') %>
  <%= album.get('string_date') %>
</div>

<div class="container subalbum-photos">

  <div class="list-of-subalbums"></div>

  <div class="public-photos-index"></div>
</div>
