<div class="title">

  <%= subalbum.get('title') %>

  <div class="create-sort-buttons">
    <span class="new-photo-button">
      <i class="fa fa-plus"></i>&nbsp; Add Photos
    </span>

    <span class="sort-photo-button">
      Sort <i class="fa fa-sort sorting-arrows"></i>
    </span>
  </div>
</div>

<div class="upload-errors">
  These files were not uploaded because they are not jpg/png/gif:
  <span class="files"></span>.
</div>

<ul class="photo-items"></ul>
