<div class="title">

  <%= subalbum.get('title') %>

  <div class="create-sort-buttons">
    <span( class="new-photo-button">
      <i class="fa fa-plus"></i>&nbsp; Add Photos
    </span(>

    <span( class="sort-photo-button">
      Sort <i class="fa fa-sort sorting-arrows"></i>
    </span(>
  </div>
</div>
<ul class="photo-items"></ul>
