<div class="title">

  <%= subalbum.get('title') %>

  <div class="create-sort-buttons">
    <span class="new-photo-button">
      <i class="fa fa-plus"></i>&nbsp; Add Photos
    </span>

    <span class="sort-photo-button">
      Sort <i class="fa fa-sort sorting-arrows"></i>
    </span>
  </div>
</div>

<div class="photo-buttons-container group">

  <div class="selected-all">
  </div>
  <div class="photo-buttons">
    <span class="view-photos-button">
      <i class="fa fa-search-plus"></i>
    </span>
    <span class="move-photos-button">
      <i class="fa fa-sign-out"></i>
    </span>
    <span class="trash-photos-button">
      <i class="fa fa-trash-o"></i>
    </span>
    <span class="make-cover-button">
      <i class="fa fa-picture-o"></i> Make Cover
    </span>
    <span class="more-photo-button">
      More <i class="fa fa-caret-down fa-1"></i>
    </span>
  </div>
</div>
<div class="upload-errors">
  These files were not uploaded because they are not jpg/png/gif:
  <span class="files"></span>.
</div>

<ul class="photo-items"></ul>
