

<% if (album.escape('image_url'))  { %>
  <img src="<%= album.escape('image_url') %>" width="100%">
<% } else { %>
  <img src="http://images.twinkieandkaren.com/2015/04/twinkie-birthday-lake-tahoe-0005.jpg" width="100%">
<% } %>

<br>


<div class="title"><%= album.escape('title') %></div>

<div class="event_date"><%= album.escape('event_date') %></div>
