<div class="container guest-album-index">

  <div class="row-fluid">
    <div class="span12 title">
      <a href="#"><%= @owner.business_name %></a>
    </div>
  </div>

  <div class="row-fluid">
    <% @albums.each do |album| %>
      <%= album.title %>
      <% if album.cover_image.nil? %>
        <img src="http://res.cloudinary.com/twinkieset/image/upload/v1434128307/ves8awxftibab7xyrebt.jpg" width="200px">
      <% else %>
        <img src="<%= album.cover_image.image_url %>" width="200px">
      <% end %>
    <% end %>
  </div>
</div>
