<div class="title"><%= album.get('title') %> &nbsp;<i class="fa fa-pencil edit-album-button"></i></div>
<span class="event_date"><%= album.get('string_date') %></span>
<span class="status"><%= album.get('status') %></span>

<div class="collection-cover-image"></div>


<div class="album-show-sidebar-subalbums-header">Photos</div>
<ul class="album-show-subalbums"></ul>

<button class="new-set-button"><i class="fa fa-plus"></i>&nbsp;&nbsp; Add Set</button>




<button class="view-album">
  <a href="<%= "/#" + CURRENT_USER.id + '/collection/' + album.id %>" target="new">
    <i class="fa fa-eye"></i> View
  </a>
</button>
