@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
	     url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Extrabold';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin create-buttons($bg, $color) {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  background-color: $bg;
  color: $color;
  padding: 7px 12px;
  letter-spacing: 1px;
}
$teal: #1abc9c;
$darkteal: #1bac9c;

body {
  font: 14px 'ProximaNova-Light';
  font-weight: 300;
  margin: 0px;
}

.form-control {
  font-size: 24px;
  line-height: 25px;
  border-radius: 0;
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 30px 20px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder { color: #bbb; }
.form-control:-moz-placeholder { color: #bbb; }
.form-control::-moz-placeholder { color: #bbb; }
.form-control:-ms-input-placeholder { color: #bbb; }

.sign-up-page, .log-in-page {

  .logo {
    margin-bottom: 30px;
  }



  .submit-user, .login-user {
    padding: 10px 40px;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 19px;
    background: $teal;
  }
}
.sign-up-page {
  margin-top: 100px;
  text-align: center;



}


.navibar {
  background: #fafafa;
  border-radius: 0;
  height: 60px;
  border-bottom: 1px solid #eeeeee;

  .albums-title {
    font-family: 'ProximaNova-Semibold';
    color: black;
    font-weight: 12px;
    position: relative;
    left: 50px;
    color: #333;
    padding: 0 10px 19px 10px;
    border-bottom: 3px solid $darkteal;
  }
}

.albums {
  margin: 30px auto;
}

.albums-index-header {
  margin-top: 30px;
  font: 26px 'ProximaNova-Regular';
  border-bottom: 1px solid #eee;
  padding: 0 29px 10px 29px;
}

.create-new-album {
  @include create-buttons($teal, #fff);
  float: right;
}

.album-form-modal {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;


  .form-container {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;


    .title {
      font: 20px 'ProximaNova-Regular';
      text-align: center;
      margin-bottom: 20px;
    }

    .form-control {
      font: 18px 'ProximaNova-Regular';
      color: #555555;
      padding: 22px 17px;
    }

    label {
      font: 14px 'ProximaNova-Semibold';
      margin-bottom: 0;
    }

    .submit-button, .cancel-button {
      padding: 10px 40px;
      border: 0;
      color: white;
      font-family: 'ProximaNova-Regular';
      font-size: 14px;

      padding: 8px 16px;
      letter-spacing: 1px;
      line-height: 19px;
      float: right;
      margin-top: 20px;
    }
    .submit-button {
      margin-right: 3px;
      background-color: #1abc9c;
      color: white;
    }

    .cancel-button {
      background-color: #e8e8e8;

      color: black;

    }
  }

  .form-container.album-form {
    height: 345px;
    width: 600px;
    margin-top: -173px;
    margin-left: -300px;
  }
  .form-container.subalbum-form {
    height: 250px;
    width: 600px;
    margin-top: -125px;
    margin-left: -300px;
  }
}
.album_index_item {
  float: left;

    a {
      color: #333;
      text-decoration: none;
    }

    div:hover, .title:hover {
      opacity: 0.9;
    }
  .title {
    font: 14px 'ProximaNova-Semibold';
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 5px;


  }




  .event_date {
    font: 12px 'ProximaNova-Regular';
    color: #999;
    font-size: 11px;
    margin-bottom: 20px;
  }

  .cover_image_container {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
}

.album-show-container {
  margin: 40px auto;

  .album-show-sidebar {
    border-right: 1px solid #eee;
    padding-right: 30px;

    .title {
      font: 18px 'ProximaNova-Semibold';
      text-transform: uppercase;
      padding-bottom: 5px;
    }

    .event_date, .status {
      font: 13px 'ProximaNova-Regular';
      color: #999;
      font-size: 11px;
      margin-bottom: 20px;
    }

    .event_date {
      float: left;
    }

    .status {
      float: right;
    }
    .collection-cover-image {
      width: 100%;
      height: 150px;
      overflow: hidden;
    }

    .album-show-sidebar-subalbums-header {
      font: 15px 'ProximaNova-Semibold';
      padding-top: 30px;
    }

    ul.album-show-subalbums {
      list-style-type: none;
      margin-top: 20px;
      padding-left: 20px;
      margin-bottom: 0px;
      li {
        padding-bottom: 20px;

      }
    }

    .album-show-sidebar-subalbums-li, .new-set-button {
      font: 15px 'ProximaNova-Regular';
      color: #888;

      .sorting-arrows {
        padding-right: 10px;
      }

    }

    .new-set-button {
      border: 0;
      background: transparent;
      padding-left: 19px;
    }
  }
  .album-show-items {
    left: 50px;


    .title {
      font: 26px 'ProximaNova-Regular';
      border-bottom: 1px solid #eee;
      padding-left: 20px;
      padding-bottom: 10px;
    }

    .create-sort-buttons {
      float: right;
    }
    .new-photo-button {
      @include create-buttons($teal, #fff);
      margin-right: 3px;
    }
    .sort-photo-button {
      @include create-buttons(#e8e8e8, black)
    }

    ul.photo-items {
      list-style-type: none;
      padding: 40px 20px;

      li.photo-item {
        position: relative;
        border: 1px solid #eee;
        float: left;
        margin: 3px 21px 15px 0;
        line-height: 165px;
        text-align: center;
        height: 165px;
        width: 110px;

        .handle {
          font-size: 10px;
          position: absolute;
          background: #CCC;
          opacity: .6;
          line-height: 16px;
          width: 16px;
          top: 3px;
          left: 3px;
        }
        img {
          max-height: 120px;
          max-width: 100px;
        }
      }
    }

  }

}
