@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNovaT-Thin/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
	     url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf')  format('truetype'), url('https://dl.dropboxusercontent.com/u/2330299/capstone/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}


$teal: #1abc9c;

body {
  font: 14px 'ProximaNova-Light';
  font-weight: 300;
  margin: 0px;
}

.sign-up-page, .log-in-page {
  .form-control::-webkit-input-placeholder { color: #bbb; }
  .form-control:-moz-placeholder { color: #bbb; }
  .form-control::-moz-placeholder { color: #bbb; }
  .form-control:-ms-input-placeholder { color: #bbb; }

  .logo {
    margin-bottom: 30px;
  }
  input {
    font-size: 24px;
    line-height: 25px;
    border-radius: 0;
    border: 1px solid #eee;
    margin: 10px 0;
    padding: 30px 20px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

  }

  .submit-user, .login-user {
    padding: 10px 40px;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 19px;
    background: $teal;
  }
}
.sign-up-page {
  margin-top: 100px;
  text-align: center;



}


.navibar {
  background: #fafafa;
  border-radius: 0;
  height: 60px;
  border-bottom: 1px solid #eeeeee;

  .albums-title {
    font-family: 'ProximaNova-Semibold';
    color: black;
    font-weight: 12px;
    position: relative;
    left: 50px;
    color: #333;
  }
}

.album_index_item {
  float: left;


  .title {
    font-weight: 500;
    text-transform: uppercase;
  }

  .event_date {
    color: #999;
    font-size: 11px;
  }
}
