<div class="form-container">

  <div class="title">New Collection</div>

  <form class="form-group">
    <label for="album-title">Give your collection a name</label>
    <input id="album-title" class="form-control" type="text" name="album[title]" placeholder="e.g. Jessie & Ryan">

    <label for="album-event_date">What is the date of the event?</label>
    <input id="album-event_date" class="form-control" type="text" name="album[event_date]" placeholder="Pick a date">

    <button class="cancel-new-album">Cancel</button>
    <input type="submit" class="submit-album" value="Create collection">
  </form>


</div>
