<nav></nav>
<div class="container-fluid fluid">

  <div class="row album-show-container">

    <div class="col-xs-3 album-show-sidebar"></div>
    <div class="col-xs-8 album-show-items"></div>

  </div>
</div>
