


<form action="<%= album_sessions_url %>" method="POST">
  <input type="text" name="album[id]" placeholder="id">
  <input type="password" name="album[password]" placeholder="password">
  <input type="Submit">
</form>
