<div class="form-container user-form">

  <div class="title">Your Profile</div>

  <form class="form-group">

    <div class="errors"></div>
    <label for="user-username">Username</label>
    <input id="user-username"
      class="form-control" type="text"
      name="user[username]"
      value="<%= CURRENT_USER.username %>">


    <label for="user-email">Email</label>
    <input id="user-email"
      class="form-control" type="text"
      name="user[email]"
      value="<%= CURRENT_USER.email %>">

    <label for="user-business_name">Business Name</label>
    <input id="user-business_name"
      class="form-control" type="text"
      name="user[business_name]"
      value="<%= CURRENT_USER.business_name %>">

      <label for="user-website">Website</label>
      <input id="user-website"
        class="form-control" type="text"
        name="user[website]"
        value="<%= CURRENT_USER.website %>">



    <button class="cancel-button cancel-user">Cancel</button>
    <input type="submit" class="submit-button submit-user" value="Save">
  </form>


</div>
